@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    .icon-hover:hover {
        border-color: #3b71ca !important;
        background-color: white !important;
    }

        .icon-hover:hover i {
            color: #3b71ca !important;
        }
</style>

<section class="my-4">
    <div class="container">
        <div class="row">
            <!-- sidebar -->
            <div class="col-lg-3">
                <!-- Toggle button -->
                <button class="btn btn-outline-secondary mb-3 w-100 d-lg-none"
                        type="button"
                        data-mdb-toggle="collapse"
                        data-mdb-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span>Show filter</span>
                </button>
                <!-- Collapsible wrapper -->
                <div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button text-dark bg-light"
                                    @*type="button"*@
                                    @*data-mdb-toggle="collapse"*@
                                    data-mdb-target="#panelsStayOpen-collapseTwo"
                                    aria-expanded="true"
                                    aria-controls="panelsStayOpen-collapseTwo">
                                Type
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo">
                            <div class="accordion-body">
                                <div>
                                    <!-- Checked checkbox -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1" checked />
                                        <label class="form-check-label" for="flexCheckChecked1">Macbook</label>
                                        <span class="badge badge-secondary float-end">120</span>
                                    </div>
                                    <!-- Checked checkbox -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" checked />
                                        <label class="form-check-label" for="flexCheckChecked2">Ipad</label>
                                        <span class="badge badge-secondary float-end">15</span>
                                    </div>
                                    <!-- Checked checkbox -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3" checked />
                                        <label class="form-check-label" for="flexCheckChecked3">Iphone</label>
                                        <span class="badge badge-secondary float-end">35</span>
                                    </div>
                                    <!-- Checked checkbox -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked />
                                        <label class="form-check-label" for="flexCheckDefault">Mac</label>
                                        <span class="badge badge-secondary float-end">89</span>
                                    </div>
                                    <!-- Default checkbox -->
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                        <label class="form-check-label" for="flexCheckDefault">Airpods</label>
                                        <span class="badge badge-secondary float-end">30</span>
                                    </div>
                                    <!-- Default checkbox -->
                                    @*<div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" />
                                        <label class="form-check-label" for="flexCheckDefault">Suzuki</label>
                                        <span class="badge badge-secondary float-end">30</span>
                                    </div>*@
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button text-dark bg-light"
                                    type="button"
                                    data-mdb-toggle="collapse"
                                    data-mdb-target="#panelsStayOpen-collapseThree"
                                    aria-expanded="false"
                                    aria-controls="panelsStayOpen-collapseThree">
                                Price
                            </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree">
                            <div class="accordion-body">
                                <div class="range">
                                    <input type="range" class="form-range" id="customRange1" />
                                </div>
                                <div class="row mb-3">
                                    <div class="col-6">
                                        <p class="mb-0">
                                            Min
                                        </p>
                                        <div class="form-outline">
                                            <input type="number" id="typeNumber" class="form-control" />
                                            <label class="form-label" for="typeNumber">$0</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <p class="mb-0">
                                            Max
                                        </p>
                                        <div class="form-outline">
                                            <input type="number" id="typeNumber" class="form-control" />
                                            <label class="form-label" for="typeNumber">$1,0000</label>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-white w-100 border border-secondary">apply</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- sidebar -->
            <!-- products -->
            <div class="col-lg-9">
                <div class="row justify-content-start">
                    @foreach (string[] laptops in Model.laptopss)
                    {
                        <div class="col-sm-6 col-md-4 col-lg-3">
                            <div class="card mb-4">
                                <img class="card-img-top" src="Images/@laptops[3]" alt="@laptops[1]" style="object-fit: cover; height: 180px; ">
                                <div class="card-body">
                                    <h5 class="card-title">@laptops[1]</h5>
                                    <p class="card-text">€@laptops[2]</p>

                                    <form method="post">
                                        <input type="hidden" name="id" value="@laptops[0]" />
                                        <button type="submit" class="btn btn-primary">Add to Cart</button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    }
                </div>
            </div>
            <!-- products -->
        </div>
    </div>

    <style>
        .col-lg-3 {
            flex: 0 0 25%;
            max-width: 25%;
        }

        .col-lg-9 {
            flex: 0 0 75%;
            max-width: 75%;
        }
    </style>


